footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(236, 189, 34);
  color: rgb(3, 0, 0);
  text-align: center;
}

body {
  background-image: url('../img/entryback.jpg');
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

h1 {
  color: white;
  margin-left: 38%;
  margin-top: 10%;
  font-size: 100px;
}

h3 {
  color: white;
}

input {
  color: white;
}

#content-container{
  margin-top: 0em;
  margin-left: 550px;
  border:1px double rgba(0, 0, 0, 0);
  padding-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0);
  font-size: 23px;
}

.buttons {
  margin-left: -295px;
    margin-top: 135px;
    width: 84px;
    height: 45px;   
    background: transparent;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
    color: rgba(139, 0, 0, 0);
}

.neonButton {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(240, 248, 255, 0);
  font-size: 30px;
  color: white;
}

#order-div {
  margin-left: 490px;
  margin-top: -400px;
}

.pizzaForm {
  margin-left: 190px;
}

.buttons1 {
  margin-left: 240px;
    margin-top:-50px;
    width: 84px;
    height: 45px;   
    background: transparent;
    border: chocolate;
    color: white;   
    font-size:14px;
    font-weight:700;
    color: rgba(139, 0, 0, 0);
}

.neonButton1 {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(240, 248, 255, 0);
  font-size: 30px;
  color: white;
}

.terms {
  margin-left: 600px;
  margin-right: 250px;
}